$newbeeColor:#1baeae;

.classify,
.goodsAdmin,
.userAdmin,
.carousel,
.forYou,
.hotSale,
.newGood,
.orderAdmin {
  height: 100%;
  width: 100%;

  //最外层卡片
  /deep/ .el-card.is-always-shadow {
    height: 100%;
    overflow: auto;

    //卡片头部
    .card-header {
      text-align: left;


      //卡片头部输入框,选择框
      .el-input__inner:focus {
        border-color: $newbeeColor;
      }

      //下拉框文字选择颜色
      .el-select-dropdown__item.selected {
        color: $newbeeColor;
        font-weight: 700;
      }

      //卡片头部按钮
      .el-button--primary {
        background-color: $newbeeColor;
        border-color: $newbeeColor;

        &:hover {
          background: #49bebe;
          border-color: #49bebe;
          color: #fff;
        }
      }

      //红色按钮
      .el-button--danger {
        margin-left: 10px;
      }

    }

    //卡片主体
    .el-card__body {

      .el-table {
        .el-table__body {
          a {
            color: #409eff;
            text-decoration: none;
          }
        }
      }

      .el-pagination.is-background {

        //分页选中页图标
        .el-pager li:not(.disabled).active {
          background-color: $newbeeColor;
        }
      }
    }

  }

  //弹出框
  /deep/ .el-dialog__wrapper {
    .el-dialog__header {
      text-align: left;
    }

    .el-form-item__content {
      text-align: left;

      .el-select {
        width: 100%;
      }
    }

    .el-input__inner:focus {
      border-color: $newbeeColor;
    }

    .el-button.off:hover {
      color: $newbeeColor;
      border-color: #bbe7e7;
      background-color: #e8f7f7;
    }

    .el-button--primary {
      color: #fff;
      background-color: $newbeeColor;
      border-color: $newbeeColor;

      &:hover {
        background: #49bebe;
        border-color: #49bebe;
        color: #fff;
      }
    }

    //图片上传
    .avatar-uploader {
      width: 100px;
      height: 100px;
      color: #ddd;
      font-size: 30px;

      .el-upload:focus {
        border-color: $newbeeColor;
        color: $newbeeColor;
      }

      //图片上传icon
      .avatar-uploader-icon {
        display: block;
        width: 100px;
        height: 100px;
        border: 1px solid #e9e9e9;
        padding: 32px 17px;
      }
    }
  }
}